.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $space-lg;

  @media (max-width: $bp-md) {
    padding: 0 $space-md;
  }
}

.section {
  padding: $space-xxl 0;

  @media (max-width: $bp-md) {
    padding: $space-xl 0;
  }
}

main {
  padding-top: 80px;
  min-height: 100vh;
}

body {
  background: $primary;
  // background:
  //   url("pattern.jpg"),
  //   rgba($color: #000000, $alpha: 0.8);
  // background-size: 1200px 1200px;
  // background-repeat: repeat;
  // background-blend-mode: soft-light;

}